.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  padding: 93px 50px 95px;
}

.logo {
  width: 148px;
  height: 105px;
}

.logo-black {
  display: block;
  width: 148px;
  height: 105px;
}

.header_menu {
  width: 391.4786376953125px;
  height: 22.00001335144043px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 29.5px;
  line-height: 100%;
  font-weight: 400;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
  list-style: circle;
  padding-left: 3.5px;
}

.header__address {
  width: 240px;
  height: 98px;
  justify-self: end;
}

.address {
  font-size: 18px;
  font-weight: 400;
  font-family: Raleway;
  font-style: normal;
  max-width: 240px;
  line-height: 24.3px;
}

.address_underline {
  text-decoration: underline;
  text-underline-offset: 4px;
  width: 239px;
  height: 24px;
}

.cover {
  position: relative;
  margin-bottom: 180.5px;
  background-image: url("../images/cover.jpg");
  padding: 165px 50px 106px 50px;
  z-index: -1;
  inset: 0;
  background-position: center;
  background-size: cover;
  height: 757px;
  width: 1100px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: -1;
  inset: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  height: 385px;
  width: 100%;
  font-size: 100px;
  color: #ffffff;
  letter-spacing: 0.3em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 114.99999999999999%;
}

.aligned-text {
  display: block;
  text-align: start;
  height: 115px;
}

.aligned-text_center {
  display: block;
  text-align: center;
  height: 115px;
  margin-top: 20px;
  margin-left: 30px;
}

.aligned-text_right {
  display: block;
  text-align: end;
  height: 155px;
  margin-left: 615px;
  margin-top: 20px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 106px;
  color: #ffffff;
  z-index: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18.5px;
}

.bet-button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 256px;
  height: 51px;
  font-size: 22px;
  text-transform: uppercase;
}

.lots {
  width: 1052px;
  height: 723px;
  padding-left: 24px;
  padding-right: 24px;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  width: 121px;
  height: 47px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 100%;
}

.card {
  height: 100%;
  width: 334px;
  position: relative;
  color: #ffffff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  width: 1052px;
  height: 596px;
  list-style: none;
}

.card_type_film {
  position: relative;
  background-image: url("../images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_book {
  position: relative;
  background-image: url("../images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  position: relative;
  background-image: url("../images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.card__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  font-style: solid;
  text-underline-offset: 3px;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  list-style: 120%;
  line-height: 120%;
}

.card-link {
  text-decoration: none;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  width: 1052px;
  height: 595px;
  display: grid;
  grid-template-columns: 334px auto;
  margin: 120px 24px 180px 24px;
}

.about__column {
  display: flex;
  justify-content: center;
}

.about__logo {
  margin-top: 35px;
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
}

.about__logo-image {
  margin-top: 64px;
  margin-left: 46.48px;
  width: 148px;
  height: 114px;
}

.about__title {
  width: 291px;
  height: 47px;
  margin-top: 136px;
  margin-left: 25px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  margin-top: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-left: 25px;
}

.about__text_indent {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 0 50px 82px 50px;

  width: 1100px;
  height: 180px;
}

.footer__menu {
  width: 163.89999389648438px;
  height: 64px;
  padding: 1px;
}

.address_footer {
  width: 264.573486328125px;
  height: 98px;
}

.footer__menu-list {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.footer__link {
  text-underline-offset: 5px;
  line-height: 100%;
}

.footer__social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-left: 177.5px;
  width: 240px;
  height: 48px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
